// Colors
$color-primary-light: #507192;
$color-primary: #2c3e50;
$color-primary-dark: #141c24;

$color-secondary-light: #eda25f;
$color-secondary: #e67e22;
$color-secondary-dark: #a15512;

$color-white: #ffffff;

$color-special: #c0392b;



// BREAK POINTS
$bp-largest: 68.75em;    //1100px
$bp-large: 59.375em;     //950px
$bp-medium: 50em;        //800px
$bp-medium2: 40.625em;   //650px
$bp-small: 31.25em;      //500px
$bp-smallest: 23.125em;  //370px  

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;   // 1rem = 10px
    box-sizing: border-box;

    @media only screen and(max-width: $bp-large) {
       font-size: 50%;
    }
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}


.content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    // margin-bottom: 30rem;
}