.heading-1 {
    font-weight: 400;
    animation: come-from-left 1s ease-out;
}

.heading-2 {
    animation: come-from-right 1s ease-out;
}

.heading-3 {
    color: $color-secondary;
    font-size: 5rem;
    font-weight: 600;
    text-transform: uppercase;
    grid-column: 1 / -1;
    justify-self: center;
    text-shadow: 0rem 0rem 3rem rgba($color-secondary, 1);
}


.heading-4 {
    font-size: 3rem;
}

.heading-5 {
    font-size: 2rem;
}